{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/Main/css/Main.css">

<!-- Cover Image  -->
<div class="jumbotron">
    <h1 id="title">Welcome to Job Hunter</h1>
</div>

<br>
<br>

<div class="container">

    <h3 class="display-4" style="color: orangered">
        Heading  ?
    </h3>
    <br>

    <p class="display-5" style="font-size: 25px">
        SOME TEXT
    </p>
</div>

<br>
<br>



<br>
<br>
<br>
<br>
<br>
<br>


<script src="/static/Main/js/Main.js"></script>

{% endblock %}
